* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

html, body {
    color: #cdda22;
}
.flex-container{
    width: auto;
    padding: 1rem;
    height: 8vh;
    display: flex;
   
    background-color: #312e57d8;
    font-size: 1.2rem;
    border: solid;
}

.clips{
    flex: 1;
    border: solid red 1px;
}
.searchbar {
    flex: 1.5;
    border: solid red 1px;
}
.icon {
    flex: 1;
    border: solid red 1px;
}
.upload {
    flex: 1;
    border: solid red 1px;
}
.login {
    flex: 1;
    border: solid red 1px;
}

